.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  row-gap: 64px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__le6M1 {
  width: 100%;
  height: auto;
  max-width: var(--token-gN9F746EpVw-);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 32px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__le6M1 {
    width: 100%;
    height: auto;
    max-width: var(--token-gN9F746EpVw-);
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 32px;
    column-gap: 0px;
    min-width: 0;
  }
}
.freeBox__aRfzu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  row-gap: 32px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__aRfzu {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
    max-width: 1000px;
    row-gap: 32px;
    column-gap: 0px;
    min-width: 0;
  }
}
.freeBox___4XoNy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__n7KiF {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: var(--token-NEon4Y--Z);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__n7KiF {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: var(--token-NEon4Y--Z);
  }
}
.text__cfz0W {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgba(51, 140, 245, 0);
  background: linear-gradient(
      90deg,
      rgb(51, 140, 245) 0%,
      rgb(79, 209, 197) 100%
    )
    0% 0% / 100% 100% padding-box /* clip: text **/;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__cfz0W {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgba(51, 140, 245, 0);
    background: linear-gradient(
        90deg,
        rgb(51, 140, 245) 0%,
        rgb(79, 209, 197) 100%
      )
      0% 0% / 100% 100% padding-box /* clip: text **/;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.text__jOeH6 {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jOeH6 {
    font-size: 24px;
    text-align: center;
    max-width: 768px;
    position: relative;
    align-self: center;
  }
}
.freeBox__sfLh9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  column-gap: 12px;
}
.button__xt3Xp:global(.__wab_instance) {
  position: relative;
}
.svg__l96H8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__quf3D {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button___7DyFs:global(.__wab_instance) {
  position: relative;
}
.svg__ptOe3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___0MykZ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__lk9Ly {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.img__aHx6D {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__aHx6D > picture > img {
  object-fit: cover;
}
.solutions:global(.__wab_instance) {
  position: relative;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  flex-wrap: nowrap;
  column-gap: 32px;
  min-width: 0;
  --plsmc-rc-col-gap: 32px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    column-gap: 0px;
    row-gap: 24px;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__sfNwE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__sfNwE {
    width: 100%;
  }
}
.freeBox__chSbd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__chSbd {
    width: 100%;
    min-width: 0;
  }
}
.text__cg59 {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
}
.text__zxGFn {
  position: relative;
  color: var(--token-jBhCqxBbh1U);
}
.featureCard__mNQtw:global(.__wab_instance) {
  position: relative;
}
.svg__zWcBp {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__bjSmi {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__ogPYr:global(.__wab_instance) {
  position: relative;
}
.svg__dwHrj {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__yCl6P {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___64Qle:global(.__wab_instance) {
  position: relative;
}
.svg__lQ0Af {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__ze2Qe {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.column__xjv3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__xjv3 {
    width: 100%;
  }
}
.img__tAMkE {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__tAMkE > picture > img {
  object-fit: cover;
}
.howItWorks:global(.__wab_instance) {
  position: relative;
}
.freeBox__oMiQ {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  min-width: 0;
}
.featureCard___4VhKu:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__xxqFo {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token--fiQs5NcRa0y);
}
.svg__v2JAi {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__ukSh7:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__a7QEa {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token--fiQs5NcRa0y);
}
.svg__tv32 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__dwmSd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___4BKE {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token--fiQs5NcRa0y);
}
.svg__fdPs {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__p2Fn:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__jc5F1 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token--fiQs5NcRa0y);
}
.svg__q2Mx7 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__sjpXw:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__foKu {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token--fiQs5NcRa0y);
}
.svg__q8PuK {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__aoHjO:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__rsoYp {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token--fiQs5NcRa0y);
}
.svg__h2Dk9 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__v1JTf {
  display: block;
  position: absolute;
  left: 50%;
  top: auto;
  width: 2px;
  height: 77px;
  bottom: -88px;
  border: 1px solid var(--token-peM-Q6XQykZ0);
}
.validation:global(.__wab_instance) {
  position: relative;
}
.freeBox__m2D {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 64px;
  min-width: 0;
}
.freeBox__oGd63 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 48px;
  row-gap: 24px;
}
.svg__pCDfR {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__kNbYh {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg___7KdYi {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__a3VCz {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__iy1Lw {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
