.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__kCpVc {
  width: 100%;
  height: auto;
  max-width: var(--token-gN9F746EpVw-);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 64px;
  min-width: 0;
}
.columns___6FyN {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  flex-wrap: nowrap;
  flex-shrink: 1;
  column-gap: 32px;
  min-width: 0;
  --plsmc-rc-col-gap: 32px;
}
.columns___6FyN > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___6FyN > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___6FyN {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap-reverse;
    flex-shrink: 1;
    row-gap: 16px;
    min-width: 0;
    --plsmc-rc-col-gap: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___6FyN > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__tc5Mf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__tc5Mf {
    width: 100%;
  }
}
.freeBox__adGgU {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__adGgU {
    width: 100%;
    min-width: 0;
  }
}
.text__fqRNg {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__ebXI {
  position: relative;
  text-align: left;
}
.bullet__choyK:global(.__wab_instance) {
  position: relative;
}
.bullet__fcW1Z:global(.__wab_instance) {
  position: relative;
}
.bullet__ktaTb:global(.__wab_instance) {
  position: relative;
}
.text__toL2X {
  position: relative;
  text-align: left;
}
.freeBox__s0RTx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  column-gap: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s0RTx {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    column-gap: 0px;
  }
}
.button__foBvA:global(.__wab_instance) {
  position: relative;
}
.svg__amwV {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__kjsjp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__hNgQt:global(.__wab_instance) {
  position: relative;
}
.svg__euxrg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__oicLe {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__di8Yp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__di8Yp {
    width: 100%;
  }
}
.img__ez2N8 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__ez2N8 > picture > img {
  object-fit: cover;
}
.columns__z31S0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  flex-wrap: nowrap;
  column-gap: 32px;
  min-width: 0;
  --plsmc-rc-col-gap: 32px;
}
.columns__z31S0 > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__z31S0 > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__z31S0 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    row-gap: 16px;
    min-width: 0;
    --plsmc-rc-col-gap: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__z31S0 > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__zbKg5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__zbKg5 {
    width: 100%;
  }
}
.img__wOe4K {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__wOe4K > picture > img {
  object-fit: cover;
}
.column__d4Hcw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__d4Hcw {
    width: 100%;
  }
}
.freeBox__szoBl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__szoBl {
    width: 100%;
    min-width: 0;
  }
}
.text___91NG2 {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text___4GQ3P {
  position: relative;
  text-align: left;
}
.bullet__dblPs:global(.__wab_instance) {
  position: relative;
}
.bullet__u3Uu:global(.__wab_instance) {
  position: relative;
}
.bullet__bqxU0:global(.__wab_instance) {
  position: relative;
}
.text__h5Ql4 {
  position: relative;
  text-align: left;
}
.freeBox__tc0Lb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  column-gap: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tc0Lb {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    column-gap: 0px;
  }
}
.button__gjxNy:global(.__wab_instance) {
  position: relative;
}
.svg__kGgEl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__oTzgz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__xgXql:global(.__wab_instance) {
  position: relative;
}
.svg___02Zia {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__padvT {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
