.root {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  column-gap: 0px;
  width: 100%;
  height: auto;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  row-gap: 32px;
  min-width: 0;
  padding: 32px;
}
.freeBox__cdkb3 {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-peM-Q6XQykZ0);
}
.freeBox__zi88 {
  width: 100%;
  height: auto;
  max-width: var(--token-gN9F746EpVw-);
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  left: auto;
  top: auto;
  column-gap: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zi88 {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    column-gap: 0px;
  }
}
.freeBox__pk8U3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 128px;
  row-gap: 16px;
  flex-shrink: 0;
}
.iconLink__l5LCk:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__tyDrZ {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.freeBox___2AtkC {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__weD3 {
  color: var(--token-W_ajde6SmnST);
  font-size: 14px;
}
.root .link__weD3:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.text__mKulv {
  position: relative;
  font-size: 14px;
  color: var(--token-W_ajde6SmnST);
}
.link__jgh9G {
  position: relative;
  color: var(--token-W_ajde6SmnST);
  font-size: 14px;
}
.root .link__jgh9G:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.freeBox__jug6W {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  column-gap: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jug6W {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    column-gap: 0px;
  }
}
.freeBox__cU4CY {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 150px;
  row-gap: 8px;
  flex-shrink: 0;
}
.text__x8DoL {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__eDzC7 {
  font-size: 14px;
  position: relative;
  color: var(--token-W_ajde6SmnST);
}
.root .link__eDzC7:hover {
  color: var(--token-NEon4Y--Z);
}
.link__g5B3 {
  position: relative;
  color: var(--token-W_ajde6SmnST);
  font-size: 14px;
}
.root .link__g5B3:hover {
  color: var(--token-NEon4Y--Z);
}
.link__mTXoa {
  position: relative;
  color: var(--token-W_ajde6SmnST);
  font-size: 14px;
}
.root .link__mTXoa:hover {
  color: var(--token-NEon4Y--Z);
}
.link___6EjGk {
  position: relative;
  color: var(--token-W_ajde6SmnST);
  font-size: 14px;
}
.root .link___6EjGk:hover {
  color: var(--token-NEon4Y--Z);
}
.link__ob8Sg {
  position: relative;
  color: var(--token-W_ajde6SmnST);
  font-size: 14px;
}
.root .link__ob8Sg:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__cIqGv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 150px;
  row-gap: 8px;
  flex-shrink: 0;
}
.text__aFfD {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__qdxh1 {
  position: relative;
  color: var(--token-W_ajde6SmnST);
  font-size: 14px;
}
.root .link__qdxh1:hover {
  color: var(--token-NEon4Y--Z);
}
.link__j2Aqy {
  position: relative;
  color: var(--token-W_ajde6SmnST);
  font-size: 14px;
}
.root .link__j2Aqy:hover {
  color: var(--token-NEon4Y--Z);
}
.link__zSn1W {
  position: relative;
  color: var(--token-W_ajde6SmnST);
  font-size: 14px;
}
.root .link__zSn1W:hover {
  color: var(--token-NEon4Y--Z);
}
.link__gnXea {
  position: relative;
  color: var(--token-W_ajde6SmnST);
  font-size: 14px;
}
.root .link__gnXea:hover {
  color: var(--token-NEon4Y--Z);
}
.link__hMdpR {
  position: relative;
  color: var(--token-W_ajde6SmnST);
  font-size: 14px;
}
.root .link__hMdpR:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__uXdsx {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 150px;
  row-gap: 8px;
  flex-shrink: 0;
}
.text__z9DeI {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__eoPgj {
  position: relative;
  color: var(--token-W_ajde6SmnST);
  font-size: 14px;
}
.root .link__eoPgj:hover {
  color: var(--token-NEon4Y--Z);
}
.link__xIckQ {
  position: relative;
  color: var(--token-W_ajde6SmnST);
  font-size: 14px;
}
.root .link__xIckQ:hover {
  color: var(--token-NEon4Y--Z);
}
.link___9YLkv {
  position: relative;
  color: var(--token-W_ajde6SmnST);
  font-size: 14px;
}
.root .link___9YLkv:hover {
  color: var(--token-NEon4Y--Z);
}
.link__oXhFl {
  position: relative;
  color: var(--token-W_ajde6SmnST);
  font-size: 14px;
}
.root .link__oXhFl:hover {
  color: var(--token-NEon4Y--Z);
}
.link__le4Q {
  position: relative;
  color: var(--token-W_ajde6SmnST);
  font-size: 14px;
}
.root .link__le4Q:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__edOSe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 200px;
  row-gap: 8px;
  flex-shrink: 0;
}
.text___0EAqw {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.text__lWWf {
  position: relative;
  font-size: 14px;
  color: var(--token-W_ajde6SmnST);
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__m9Wwz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg__eBkNw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p-fCTrfjtL4);
  height: 1em;
}
.svg__njGow {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: var(--token-p-fCTrfjtL4);
}
.svg__tk6Up {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__hVmcD {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-peM-Q6XQykZ0);
}
.freeBox__r1YYs {
  width: 100%;
  height: auto;
  max-width: var(--token-gN9F746EpVw-);
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  left: auto;
  top: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r1YYs {
    display: flex;
    flex-direction: column;
    column-gap: 0px;
    row-gap: 8px;
  }
}
.freeBox__xxojb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__i1Nzg {
  position: relative;
  color: var(--token-W_ajde6SmnST);
  height: auto;
  font-size: 14px;
}
.root .link__i1Nzg:hover {
  text-decoration-line: underline;
}
.link__qTPH {
  position: relative;
  color: var(--token-W_ajde6SmnST);
  font-size: 14px;
}
.root .link__qTPH:hover {
  text-decoration-line: underline;
}
.text__oaq3S {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: var(--token-W_ajde6SmnST);
}
.freeBox__vhWxD {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  column-gap: 16px;
}
.iconLink__oqKw8:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__vcMsK {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__vcMsK:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__vhx:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__cvDcp {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__cvDcp:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__jz7Z:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__yTKmt {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__yTKmt:hover {
  color: var(--token-dph1wZ7NjV9);
}
