@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-peM-Q6XQykZ0: rgb(234, 234, 234);
  --plasmic-token-divider: var(--token-peM-Q6XQykZ0);
  --token--fiQs5NcRa0y: rgb(255, 255, 255);
  --plasmic-token-white: var(--token--fiQs5NcRa0y);
  --token-W_ajde6SmnST: #666666;
  --plasmic-token-text: var(--token-W_ajde6SmnST);
  --token-gN9F746EpVw-: 1104px;
  --plasmic-token-max-content-width: var(--token-gN9F746EpVw-);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-EXbQu907xkND_font-family: "Inter", sans-serif;
  --mixin-EXbQu907xkND_font-size: 18px;
  --mixin-EXbQu907xkND_font-weight: 400;
  --mixin-EXbQu907xkND_font-style: normal;
  --mixin-EXbQu907xkND_color: var(--token-W_ajde6SmnST);
  --mixin-EXbQu907xkND_text-align: left;
  --mixin-EXbQu907xkND_text-transform: none;
  --mixin-EXbQu907xkND_line-height: 1.5;
  --mixin-EXbQu907xkND_letter-spacing: normal;
  --mixin-EXbQu907xkND_white-space: pre-wrap;
  --mixin-EXbQu907xkND_user-select: text;
  --mixin-EXbQu907xkND_text-decoration-line: none;
  --mixin-EXbQu907xkND_text-overflow: clip;
  --mixin-OImL5m1Ehk7g_font-family: "Inter", sans-serif;
  --mixin-OImL5m1Ehk7g_color: #000000;
  --mixin-OImL5m1Ehk7g_font-size: 72px;
  --mixin-OImL5m1Ehk7g_font-weight: 900;
  --mixin-OImL5m1Ehk7g_letter-spacing: -4px;
  --mixin-OImL5m1Ehk7g_line-height: 1;
  --mixin-OImL5m1Ehk7g_white-space: pre-wrap;
  --mixin-5QzNVVIx60F3_font-family: "Inter", sans-serif;
  --mixin-5QzNVVIx60F3_color: #000000;
  --mixin-5QzNVVIx60F3_font-size: 48px;
  --mixin-5QzNVVIx60F3_font-weight: 700;
  --mixin-5QzNVVIx60F3_letter-spacing: -1px;
  --mixin-5QzNVVIx60F3_line-height: 1.1;
  --mixin-5QzNVVIx60F3_white-space: pre-wrap;
  --mixin-WSxkn0KWaCiZ_font-family: "Inter", sans-serif;
  --mixin-WSxkn0KWaCiZ_color: #000000;
  --mixin-WSxkn0KWaCiZ_font-size: 32px;
  --mixin-WSxkn0KWaCiZ_font-weight: 600;
  --mixin-WSxkn0KWaCiZ_letter-spacing: -0.8px;
  --mixin-WSxkn0KWaCiZ_line-height: 1.2;
  --mixin-WSxkn0KWaCiZ_white-space: pre-wrap;
  --mixin-Uz6LsJx_cM4C_font-family: "Inter", sans-serif;
  --mixin-Uz6LsJx_cM4C_color: #000000;
  --mixin-Uz6LsJx_cM4C_font-size: 24px;
  --mixin-Uz6LsJx_cM4C_font-weight: 600;
  --mixin-Uz6LsJx_cM4C_letter-spacing: -0.5px;
  --mixin-Uz6LsJx_cM4C_line-height: 1.3;
  --mixin-Uz6LsJx_cM4C_white-space: pre-wrap;
  --mixin-cjUJuQeIjQOl_font-family: "Inter", sans-serif;
  --mixin-cjUJuQeIjQOl_color: #000000;
  --mixin-cjUJuQeIjQOl_font-size: 20px;
  --mixin-cjUJuQeIjQOl_font-weight: 600;
  --mixin-cjUJuQeIjQOl_letter-spacing: -0.3px;
  --mixin-cjUJuQeIjQOl_line-height: 1.5;
  --mixin-cjUJuQeIjQOl_white-space: pre-wrap;
  --mixin-P7MRjgcQbaks_font-family: "Inter", sans-serif;
  --mixin-P7MRjgcQbaks_color: #000000;
  --mixin-P7MRjgcQbaks_font-size: 16px;
  --mixin-P7MRjgcQbaks_font-weight: 600;
  --mixin-P7MRjgcQbaks_line-height: 1.5;
  --mixin-P7MRjgcQbaks_white-space: pre-wrap;
  --mixin-rzvlWE_QNoXJ_border-left-color: #dddddd;
  --mixin-rzvlWE_QNoXJ_border-left-style: solid;
  --mixin-rzvlWE_QNoXJ_border-left-width: 3px;
  --mixin-rzvlWE_QNoXJ_color: #888888;
  --mixin-rzvlWE_QNoXJ_padding-left: 10px;
  --mixin-rzvlWE_QNoXJ_white-space: pre-wrap;
  --mixin-JqiZf7g5RrNT_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-JqiZf7g5RrNT_border-bottom-color: #dddddd;
  --mixin-JqiZf7g5RrNT_border-bottom-style: solid;
  --mixin-JqiZf7g5RrNT_border-bottom-width: 1px;
  --mixin-JqiZf7g5RrNT_border-left-color: #dddddd;
  --mixin-JqiZf7g5RrNT_border-left-style: solid;
  --mixin-JqiZf7g5RrNT_border-left-width: 1px;
  --mixin-JqiZf7g5RrNT_border-right-color: #dddddd;
  --mixin-JqiZf7g5RrNT_border-right-style: solid;
  --mixin-JqiZf7g5RrNT_border-right-width: 1px;
  --mixin-JqiZf7g5RrNT_border-top-color: #dddddd;
  --mixin-JqiZf7g5RrNT_border-top-style: solid;
  --mixin-JqiZf7g5RrNT_border-top-width: 1px;
  --mixin-JqiZf7g5RrNT_border-bottom-left-radius: 3px;
  --mixin-JqiZf7g5RrNT_border-bottom-right-radius: 3px;
  --mixin-JqiZf7g5RrNT_border-top-left-radius: 3px;
  --mixin-JqiZf7g5RrNT_border-top-right-radius: 3px;
  --mixin-JqiZf7g5RrNT_font-family: "Inconsolata";
  --mixin-JqiZf7g5RrNT_padding-bottom: 1px;
  --mixin-JqiZf7g5RrNT_padding-left: 4px;
  --mixin-JqiZf7g5RrNT_padding-right: 4px;
  --mixin-JqiZf7g5RrNT_padding-top: 1px;
  --mixin-JqiZf7g5RrNT_white-space: pre-wrap;
  --mixin-QZud83eDsI_6_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-QZud83eDsI_6_border-bottom-color: #dddddd;
  --mixin-QZud83eDsI_6_border-bottom-style: solid;
  --mixin-QZud83eDsI_6_border-bottom-width: 1px;
  --mixin-QZud83eDsI_6_border-left-color: #dddddd;
  --mixin-QZud83eDsI_6_border-left-style: solid;
  --mixin-QZud83eDsI_6_border-left-width: 1px;
  --mixin-QZud83eDsI_6_border-right-color: #dddddd;
  --mixin-QZud83eDsI_6_border-right-style: solid;
  --mixin-QZud83eDsI_6_border-right-width: 1px;
  --mixin-QZud83eDsI_6_border-top-color: #dddddd;
  --mixin-QZud83eDsI_6_border-top-style: solid;
  --mixin-QZud83eDsI_6_border-top-width: 1px;
  --mixin-QZud83eDsI_6_border-bottom-left-radius: 3px;
  --mixin-QZud83eDsI_6_border-bottom-right-radius: 3px;
  --mixin-QZud83eDsI_6_border-top-left-radius: 3px;
  --mixin-QZud83eDsI_6_border-top-right-radius: 3px;
  --mixin-QZud83eDsI_6_font-family: "Inconsolata";
  --mixin-QZud83eDsI_6_padding-bottom: 3px;
  --mixin-QZud83eDsI_6_padding-left: 6px;
  --mixin-QZud83eDsI_6_padding-right: 6px;
  --mixin-QZud83eDsI_6_padding-top: 3px;
  --mixin-QZud83eDsI_6_white-space: pre-wrap;
  --mixin-SBvhoFtLR07__display: flex;
  --mixin-SBvhoFtLR07__flex-direction: column;
  --mixin-SBvhoFtLR07__align-items: stretch;
  --mixin-SBvhoFtLR07__justify-content: flex-start;
  --mixin-SBvhoFtLR07__list-style-position: outside;
  --mixin-SBvhoFtLR07__padding-left: 40px;
  --mixin-SBvhoFtLR07__position: relative;
  --mixin-SBvhoFtLR07__list-style-type: decimal;
  --mixin-SBvhoFtLR07__white-space: pre-wrap;
  --mixin-KH2BAzydbNd2_display: flex;
  --mixin-KH2BAzydbNd2_flex-direction: column;
  --mixin-KH2BAzydbNd2_align-items: stretch;
  --mixin-KH2BAzydbNd2_justify-content: flex-start;
  --mixin-KH2BAzydbNd2_list-style-position: outside;
  --mixin-KH2BAzydbNd2_padding-left: 40px;
  --mixin-KH2BAzydbNd2_position: relative;
  --mixin-KH2BAzydbNd2_list-style-type: disc;
  --mixin-KH2BAzydbNd2_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-0Tb0JtQkAnAX_white-space: pre-wrap;
  --plasmic-mixin-card-heading_white-space: var(
    --mixin-0Tb0JtQkAnAX_white-space
  );
  --mixin-yz7vFOZtt9bb_white-space: pre-wrap;
  --plasmic-mixin-centered-section-text_white-space: var(
    --mixin-yz7vFOZtt9bb_white-space
  );
  --mixin-QUFgxR7265rj_white-space: pre-wrap;
  --plasmic-mixin-subheader_white-space: var(--mixin-QUFgxR7265rj_white-space);
  --mixin-g0ZJbkt1Liq5_white-space: pre-wrap;
  --plasmic-mixin-footer-link_white-space: var(
    --mixin-g0ZJbkt1Liq5_white-space
  );
  --mixin-WbMw3ud-w-oD_white-space: pre-wrap;
  --plasmic-mixin-content_white-space: var(--mixin-WbMw3ud-w-oD_white-space);
  --mixin-wduU4iBTboj8_white-space: pre-wrap;
  --plasmic-mixin-section_white-space: var(--mixin-wduU4iBTboj8_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-EXbQu907xkND_font-family);
  font-size: var(--mixin-EXbQu907xkND_font-size);
  font-weight: var(--mixin-EXbQu907xkND_font-weight);
  font-style: var(--mixin-EXbQu907xkND_font-style);
  color: var(--mixin-EXbQu907xkND_color);
  text-align: var(--mixin-EXbQu907xkND_text-align);
  text-transform: var(--mixin-EXbQu907xkND_text-transform);
  line-height: var(--mixin-EXbQu907xkND_line-height);
  letter-spacing: var(--mixin-EXbQu907xkND_letter-spacing);
  white-space: var(--mixin-EXbQu907xkND_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-OImL5m1Ehk7g_font-family);
  color: var(--mixin-OImL5m1Ehk7g_color);
  font-size: var(--mixin-OImL5m1Ehk7g_font-size);
  font-weight: var(--mixin-OImL5m1Ehk7g_font-weight);
  letter-spacing: var(--mixin-OImL5m1Ehk7g_letter-spacing);
  line-height: var(--mixin-OImL5m1Ehk7g_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-family: var(--mixin-5QzNVVIx60F3_font-family);
  color: var(--mixin-5QzNVVIx60F3_color);
  font-size: var(--mixin-5QzNVVIx60F3_font-size);
  font-weight: var(--mixin-5QzNVVIx60F3_font-weight);
  letter-spacing: var(--mixin-5QzNVVIx60F3_letter-spacing);
  line-height: var(--mixin-5QzNVVIx60F3_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-WSxkn0KWaCiZ_font-family);
  color: var(--mixin-WSxkn0KWaCiZ_color);
  font-size: var(--mixin-WSxkn0KWaCiZ_font-size);
  font-weight: var(--mixin-WSxkn0KWaCiZ_font-weight);
  letter-spacing: var(--mixin-WSxkn0KWaCiZ_letter-spacing);
  line-height: var(--mixin-WSxkn0KWaCiZ_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-Uz6LsJx_cM4C_font-family);
  color: var(--mixin-Uz6LsJx_cM4C_color);
  font-size: var(--mixin-Uz6LsJx_cM4C_font-size);
  font-weight: var(--mixin-Uz6LsJx_cM4C_font-weight);
  letter-spacing: var(--mixin-Uz6LsJx_cM4C_letter-spacing);
  line-height: var(--mixin-Uz6LsJx_cM4C_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-cjUJuQeIjQOl_font-family);
  color: var(--mixin-cjUJuQeIjQOl_color);
  font-size: var(--mixin-cjUJuQeIjQOl_font-size);
  font-weight: var(--mixin-cjUJuQeIjQOl_font-weight);
  letter-spacing: var(--mixin-cjUJuQeIjQOl_letter-spacing);
  line-height: var(--mixin-cjUJuQeIjQOl_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-P7MRjgcQbaks_font-family);
  color: var(--mixin-P7MRjgcQbaks_color);
  font-size: var(--mixin-P7MRjgcQbaks_font-size);
  font-weight: var(--mixin-P7MRjgcQbaks_font-weight);
  line-height: var(--mixin-P7MRjgcQbaks_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-rzvlWE_QNoXJ_color);
  padding-left: var(--mixin-rzvlWE_QNoXJ_padding-left);
  border-left: var(--mixin-rzvlWE_QNoXJ_border-left-width)
    var(--mixin-rzvlWE_QNoXJ_border-left-style)
    var(--mixin-rzvlWE_QNoXJ_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-JqiZf7g5RrNT_font-family);
  border-radius: var(--mixin-JqiZf7g5RrNT_border-top-left-radius)
    var(--mixin-JqiZf7g5RrNT_border-top-right-radius)
    var(--mixin-JqiZf7g5RrNT_border-bottom-right-radius)
    var(--mixin-JqiZf7g5RrNT_border-bottom-left-radius);
  padding: var(--mixin-JqiZf7g5RrNT_padding-top)
    var(--mixin-JqiZf7g5RrNT_padding-right)
    var(--mixin-JqiZf7g5RrNT_padding-bottom)
    var(--mixin-JqiZf7g5RrNT_padding-left);
  border-top: var(--mixin-JqiZf7g5RrNT_border-top-width)
    var(--mixin-JqiZf7g5RrNT_border-top-style)
    var(--mixin-JqiZf7g5RrNT_border-top-color);
  border-right: var(--mixin-JqiZf7g5RrNT_border-right-width)
    var(--mixin-JqiZf7g5RrNT_border-right-style)
    var(--mixin-JqiZf7g5RrNT_border-right-color);
  border-bottom: var(--mixin-JqiZf7g5RrNT_border-bottom-width)
    var(--mixin-JqiZf7g5RrNT_border-bottom-style)
    var(--mixin-JqiZf7g5RrNT_border-bottom-color);
  border-left: var(--mixin-JqiZf7g5RrNT_border-left-width)
    var(--mixin-JqiZf7g5RrNT_border-left-style)
    var(--mixin-JqiZf7g5RrNT_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-QZud83eDsI_6_font-family);
  border-radius: var(--mixin-QZud83eDsI_6_border-top-left-radius)
    var(--mixin-QZud83eDsI_6_border-top-right-radius)
    var(--mixin-QZud83eDsI_6_border-bottom-right-radius)
    var(--mixin-QZud83eDsI_6_border-bottom-left-radius);
  padding: var(--mixin-QZud83eDsI_6_padding-top)
    var(--mixin-QZud83eDsI_6_padding-right)
    var(--mixin-QZud83eDsI_6_padding-bottom)
    var(--mixin-QZud83eDsI_6_padding-left);
  border-top: var(--mixin-QZud83eDsI_6_border-top-width)
    var(--mixin-QZud83eDsI_6_border-top-style)
    var(--mixin-QZud83eDsI_6_border-top-color);
  border-right: var(--mixin-QZud83eDsI_6_border-right-width)
    var(--mixin-QZud83eDsI_6_border-right-style)
    var(--mixin-QZud83eDsI_6_border-right-color);
  border-bottom: var(--mixin-QZud83eDsI_6_border-bottom-width)
    var(--mixin-QZud83eDsI_6_border-bottom-style)
    var(--mixin-QZud83eDsI_6_border-bottom-color);
  border-left: var(--mixin-QZud83eDsI_6_border-left-width)
    var(--mixin-QZud83eDsI_6_border-left-style)
    var(--mixin-QZud83eDsI_6_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-SBvhoFtLR07__display);
  flex-direction: var(--mixin-SBvhoFtLR07__flex-direction);
  align-items: var(--mixin-SBvhoFtLR07__align-items);
  justify-content: var(--mixin-SBvhoFtLR07__justify-content);
  list-style-position: var(--mixin-SBvhoFtLR07__list-style-position);
  padding-left: var(--mixin-SBvhoFtLR07__padding-left);
  position: var(--mixin-SBvhoFtLR07__position);
  list-style-type: var(--mixin-SBvhoFtLR07__list-style-type);
  column-gap: var(--mixin-SBvhoFtLR07__column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-KH2BAzydbNd2_display);
  flex-direction: var(--mixin-KH2BAzydbNd2_flex-direction);
  align-items: var(--mixin-KH2BAzydbNd2_align-items);
  justify-content: var(--mixin-KH2BAzydbNd2_justify-content);
  list-style-position: var(--mixin-KH2BAzydbNd2_list-style-position);
  padding-left: var(--mixin-KH2BAzydbNd2_padding-left);
  position: var(--mixin-KH2BAzydbNd2_position);
  list-style-type: var(--mixin-KH2BAzydbNd2_list-style-type);
  column-gap: var(--mixin-KH2BAzydbNd2_column-gap);
}
